/***********************/
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: auto;
}

.container-xl,
.container-xxl {
  max-width: 1320px;
}
.section {
  &_main {
    min-height: calc(100vh - 120px);
    position: relative;
  }
  &_multiple-p {
    background-image: url(../../assets/images/multiple_p.png);
    height: 90%;
    z-index: 1;
  }
  &_bgc {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &_single-p {
    background-image: url(../../assets/images/longsymbol.png);
    height: 74%;
    right: 1%;
    z-index: 2;
  }
  &_linear {
    background: linear-gradient(180deg, transparent 16.67%, $dark-blue 100%);
    height: 200px;
    z-index: 3;
  }
  &_title {
    position: relative;
    z-index: 4;
    min-height: calc(100vh - 145px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: $fs-38;
    line-height: $lh-45;
    text-align: center;
  }
  &_button {
    margin-bottom: 20px;
  }
}
.list-group {
  border-radius: 50%;
  border: 1px solid $gray;
}
.list-group-item {
  padding: 0;
  border: none;
  width: 42px;
  height: 42px;
  background-color: transparent;
  background-image: url(../../assets/icons/arrow.svg);
  background-position: top 18px left 10.5px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.h1 {
  flex-grow: 1;
  &-white {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
}
