.size {
  min-height: 130px;
  min-width: 365px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section5 {
  &-company {
    justify-content: center;
  }

  &-title {
    padding-bottom: 30px;
  }
  &-txt {
    color: $dark-blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: $fs-14;
    line-height: $lh-17;
    text-align: center;
  }
  &-bgc_hillel {
    background-color: #1c4280;
  }
  &-bgc_wanna {
    background-color: #143646;
  }
  &-bgc_tapgerine {
    background-color: #f48b30;
  }
  &-bgc_3dlook {
    background-color: #9e4dc3;
  }
  &-bgc_orange {
    background-color: #fd9339;
  }
  &-bgc_adtel {
    background-color: #e2e2e4;
  }
  &-bgc_clicky {
    background-color: #c71c36;
  }
  &-bgc_eco {
    background-color: #dcf3f9;
  }
  &-bgc_infra {
    background-color: #eaeaea;
  }
  &-bgc_city {
    background-color: #282240;
  }
  &-bgc_art {
    background-color: #1d4568;
  }
  &-bgc_ultimate {
    background-color: #000000;
  }
}

@media screen and (max-width: 1460px) {
  .size {
    min-height: 90px;
    min-width: 188px;
    width: calc(100% / 3);
  }
}
.hillel {
  width: 158px;
  height: 35px;
}
.wanna {
  width: 168px;
  height: 27px;
}
.tapgerine {
  width: 161px;
  height: 40px;
}
.look {
  width: 146px;
  height: 34px;
}
.eco {
  width: 104px;
  height: 54px;
}
.clicky {
  width: 111px;
  height: 49px;
}
.orange {
  width: 144px;
  height: 36px;
}
.infra {
  width: 118px;
  height: 39px;
}
.city {
  width: 132px;
  height: 28px;
}
.art {
  width: 137px;
  height: 37px;
}
.ultimate {
  width: 112px;
  height: 70px;
}
.adtel {
  width: 128px;
  height: 33px;
}

@media screen and (max-width: 992px) {
  .size {
    min-height: 90px;
    min-width: 188px;
    width: calc(100% / 3);
  }
  .hillel {
    width: 158px;
    height: 35px;
  }
  .wanna {
    width: 168px;
    height: 27px;
  }
  .tapgerine {
    width: 161px;
    height: 40px;
  }
  .look {
    width: 146px;
    height: 34px;
  }
  .eco {
    width: 104px;
    height: 54px;
  }
  .clicky {
    width: 111px;
    height: 49px;
  }
  .orange {
    width: 144px;
    height: 36px;
  }
  .infra {
    width: 118px;
    height: 39px;
  }
  .city {
    width: 132px;
    height: 28px;
  }
  .art {
    width: 137px;
    height: 37px;
  }
  .ultimate {
    width: 112px;
    height: 70px;
  }
  .adtel {
    width: 128px;
    height: 33px;
  }
}
@media screen and (max-width: 576px) {
  .size {
    min-height: 90px;
    min-width: 188px;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .size {
    width: 100%;
  }
}
