//// Section 2 in Section 1 ///////.h3 {
/* При Карточке можно использовать миксин, вылетает вся работа, по этому сделано копи пастом */
.section2 {
  &-main {
    padding-top: 80px;
  }
  &_ahref {
    margin-bottom: 15px;
    color: $blue-sky;
    font-size: $fs-24;
    line-height: $lh-28;
    color: $blue-sky;
    display: inline-block;
  }
  &-menu {
    padding-top: 68px;
  }
  &-href {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    font-size: $fs-14;
    line-height: $lh-17;
    opacity: 0.5;
    margin-right: 6px;
    font-weight: 500;

    &:hover {
      color: $white;
    }
  }
  &-arrow {
    margin-bottom: -1px;
  }
  &-title {
    font-size: 35px;
    line-height: $lh-50;
    background-image: linear-gradient(45deg, #f0145a, #ef8080);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    padding-top: 3px;
  }
  &-txt {
    color: $white;
    font-size: $fs-16;
    line-height: $lh-26;
  }
  &-card {
    max-width: 413px;
    &__icon {
      width: 92px;
      height: 92px;
      background-color: $white;
      border-radius: 24px;
      margin-bottom: 20px;
    }
  }
}
.section2-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 92px;
}

////// Responsive GRID /////////

$gutter: 15px;

$gd-col: 12;
$gd-size: 100% / $gd-col;

$sm: 576px;
$md: 768px;
$lg: 1200px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-top: -$gutter;
}
.col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 $gutter;
}
@for $i from 1 through $gd-col {
  .col-#{$i} {
    max-width: $gd-size * $i;
    padding-left: $gutter;
    padding-right: $gutter;
    padding-top: $gutter;
  }
  .row {
    justify-content: center;
  }
}

@media screen and (min-width: $sm) {
  @for $i from 1 through $gd-col {
    .col-sm-#{$i} {
      max-width: $gd-size * $i;
      padding-left: $gutter;
      padding-right: $gutter;
      padding-top: $gutter;
    }
  }
}
@media screen and (min-width: $md) {
  @for $i from 1 through $gd-col {
    .col-md-#{$i} {
      max-width: $gd-size * $i;
      padding-left: $gutter;
      padding-right: $gutter;
      padding-top: $gutter;
    }
  }
}

@media screen and (min-width: $lg) {
  @for $i from 1 through $gd-col {
    .col-lg-#{$i} {
      max-width: $gd-size * $i;
      padding-left: $gutter;
      padding-right: $gutter;
      padding-top: $gutter;
    }
  }
}

// MEDIA and //

@media screen and (max-width: 576px) {
  .section2-title {
    font-size: 30px;
  }
  .section2 {
    &-card_box {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &-card {
      margin-bottom: 40px;
      &__icon {
        margin-bottom: 0px;
        border-radius: 18px;
      }
    }
    &_ahref {
      font-size: 18px;
      margin-left: 10px;
    }
    &-txt {
      font-size: 14px;
    }
    &-menu {
      padding-top: 20px;
    }
    &-main {
      padding-top: 45px;
    }
  }
}
