@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import "./var";
@import "./header";
@import "./main";
@import "./icon";
@import "./section1";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./section5";
@import "./section6";
@import "./footer";

/* main-start-Tags */

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: rgb(42, 27, 252);
}
p {
  margin: 0;
}
/************************/
/* Container */ /* Все контейнеры одинаковы, при изменении просто меняем либо добавляем еще один с нужной шириной */

.main_wrap {
  min-height: calc(100vh - 200px);
}
.container-fluid {
  padding: 0;
}

@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.container-main {
  @include container(1320px);
}
.container-section1 {
  @include container(1080px);
}
.container-s2 {
  @include container(1320px);
}
.container-row_col {
  @include container(1320px);
}
.container {
  @include container(1320px);
}

/* Flex container */
.flex-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-container-2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-container-3 {
  display: flex;
  align-items: center;
}
.flex-container-4 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* MEDIAQ */
/* FOR HEADER mb MAIN */
@media screen and (max-width: 1200px) {
  .main_ul-navigation,
  .main_li-link,
  .main_link {
    display: none;
  }
  .main_number {
    color: $gray;
  }
  .navbar {
    display: block;
    width: 100%;
  }
  .navbar-toggler {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
  }
  .nav-link {
    color: $blue-sky;
    font-size: $fs-24;
    line-height: $lh-28;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
  .h1 {
    font-size: $fs-38;
  }
  .flex-container-4 {
    justify-content: space-between;
    align-items: center;
  }
  .flex-container-1 {
    display: block;
  }
  .flex-wrap {
    justify-content: space-between;
  }
  .main_logo {
    display: none;
  }
  .main_adress {
    display: none;
  }
  .main_facebook-link {
    display: none;
  }
  .main_number {
    margin: 0;
  }
  .main_nav {
    margin-top: 20px;
  }
  .section_multiple-p {
    display: none;
  }

  i.fas,
  .fa-circle {
    display: none;
  }
}

/*        */
