doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./node_modules/@fortawesome/fontawesome-free/css/all.css")
        link(rel="stylesheet", href="./dist/css/index.css")
        link(rel="stylesheet", href="./dist/css/aboutus.css")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js")
        script(src="./dist/css/page2.js")
        title About us
    body 
        include ./pug/secondpage/var
        .main_wrap 
            .main-n-header 
                include ./pug/secondpage/header2
            include ./pug/secondpage/section1 
            include ./pug/secondpage/section2 
        include ./pug/secondpage/footer2 
        
                
