doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./node_modules/@fortawesome/fontawesome-free/css/all.css")
        link(rel="stylesheet", href="./dist/css/index.css")
        link(rel="stylesheet", href="./dist/css/contact.css")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js")
        title Contact
    body 
        include ./pug/mainpage/var 
        .main-wrap 
            include ./pug/sevenpage/header7 
            include ./pug/sevenpage/main7 
            iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d26859.585605040305!2d35.04929995378063!3d48.46349036147192!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1636632884564!5m2!1sru!2sua' width='100%' height='600' style='border:0;' allowfullscreen='' loading='lazy')
        include ./pug/mainpage/footer 


