doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./node_modules/@fortawesome/fontawesome-free/css/all.css")
        link(rel="stylesheet", href="./dist/css/index.css")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js")
        script(src="./dist/css/main.js")
        title Hlegals
    body
        include ./pug/mainpage/var
        .main_wrap 
            .main-n-header 
                include ./pug/mainpage/header 
                include ./pug/mainpage/main
            include ./pug/mainpage/section1n2
            include ./pug/mainpage/section3  
            include ./pug/mainpage/section4  
            include ./pug/mainpage/section5   
            include ./pug/mainpage/section6 
        include ./pug/mainpage/footer
