.section2-card 
    .section2-card__icon 
        object(data="", type="") 
    .section2-card__title 
        h3.h3 IT та електронна комерція
    .section2-card__txt 
        p.section2-txt Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. 
    