main.section_main 
    .section_multiple-p.section_bgc 
    .section_single-p.section_bgc 
    .section_linear.section_bgc 
    .container.section_title 
        h1.h1.h1-white системний адміністратор <br> правових рішень
        .section_button
             .list-group
                a.list-group-item(href='#list-item-1')
                    
                