section.section6_main 
    .container
        .section6-title 
            a.section3-href(href="#") Публікації
                object.section2-arrow(data="./assets/icons/arrow-blue.svg", type="")
            h2.section6-about.slide-title Нам є що розповісти
        .section6_f  
            .section6-box  
                a(href="#")  
                    p.section6-box_title Валютний контроль помер, хай живе валютний контроль!
                p.section6-box_data 14 червня
                p.section6-box_info.box-block Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства». Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».
            .section6-box_img  
                img.bottom_img(src="./assets/images/socium.png", alt="") 
                a(href="#") 
                    p.section6-box_title Equity associate
                p.section6-box_data 22 квітня
                p.section6-box_info На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо буду…
            .section6-box_img2  
                img.bottom_img(src="./assets/images/gdpr_logo.png", alt="") 
                a(href="#") 
                    p.section6-box_title Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR
                p.section6-box_data 29 вересня
                p.section6-box_info І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із захисту даних.
            .section6-box_img3  
                img.bottom_img(src="./assets/images/people_logo.png", alt="") 
                a(href="#") 
                    p.section6-box_title Заповіт меленіала
                p.section6-box_data 19 серпня
                p.section6-box_info Що і як передаватимуть у спадщину сучасні влогери лідери і кріптомільйонери
            .section6-box_img4 
                img.bottom_img(src="./assets/images/center_logo.png", alt="") 
            .section6-box_img5
                img.bottom_img(src="./assets/images/center_logo.png", alt="") 
        .section6-btn1 
            a(href="#") 
                button.gradient-btn Ще Публікації
    .section6-gradient.section6-bgc_white 
        a.section6-btn2(href="#") 
            button.gradient-btn Ще Публікації