section.section1_main 
    .container
        #carouselExampleCaptions.carousel.carousel-light.slide.slide-1(data-bs-ride='carousel')
            .carousel-btn.d-flex.justify-content-center
                    button.active.circle-btn(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1') Послідовні
                    button.circle-btn(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2') Клієнтоорієнтовані
                    button.circle-btn(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3') Інноваційні
                    button.circle-btn(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='3' aria-label='Slide 4') Бізнес-орієнтовані юристи
            .carousel-inner
                .carousel-item.active
                    .carousel-caption.d-none.d-md-block
                        h5.h5 Перевертаємо уявлення про юридичні послуги
                        p.carousel-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
                .carousel-item
                    .carousel-caption.d-none.d-md-block
                        h5.h5 Перевертаємо уявлення про юридичні послуги
                        p.carousel-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
                .carousel-item
                    .carousel-caption.d-none.d-md-block
                        h5.h5 Перевертаємо уявлення про юридичні послуги
                        p.carousel-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
                .carousel-item
                    .carousel-caption.d-none.d-md-block
                        h5.h5 Перевертаємо уявлення про юридичні послуги
                        p.carousel-info Консолідуючи багаторічний досвід і практику, ю3супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
        #carousel3.carousel.carousel-light.slide.slide-2(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    .carousel-caption
                        h5.name-title Послідовні
                        h5.name-subtitle Перевертаємо уявлення про юридичні послуги
                        p.name-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
                .carousel-item
                    .carousel-caption
                        h5.name-title Клієнтоорієнтовані
                        h5.name-subtitle Перевертаємо уявлення про юридичні послуги
                        p.name-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
                .carousel-item
                    .carousel-caption
                        h5.name-title Інноваційні
                        h5.name-subtitle Перевертаємо уявлення про юридичні послуги
                        p.name-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
                .carousel-item
                    .carousel-caption
                        h5.name-title Бізнес-орієнтовані юристи
                        h5.name-subtitle Перевертаємо уявлення про юридичні послуги
                        p.name-info Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.
            .carousel-btn
                    button.active.circle-btn--b(type='button' data-bs-target='#carousel3' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                    button.circle-btn--b(type='button' data-bs-target='#carousel3' data-bs-slide-to='1' aria-label='Slide 2')
                    button.circle-btn--b(type='button' data-bs-target='#carousel3' data-bs-slide-to='2' aria-label='Slide 3')
                    button.circle-btn--b(type='button' data-bs-target='#carousel3' data-bs-slide-to='3' aria-label='Slide 4') 
    section.section2-main
        .container-s2
            .section2-info 
                .section2--href 
                    a.section2-href#list-item-1(href="./services.html") послуги
                        object.section2-arrow(data="./assets/icons/arrow-right.svg", type="") 
                h2.section2-title Що ми вміємо робити краще за інших?
            .section2-menu
                .container-row_col 
                    .row
                        .col-12.col-sm-6.col-md-4 
                            .section2-card 
                                .section2-card_box 
                                    .section2-card__icon 
                                        img.section2-card__img(src="./assets/images/shoping_2.png", alt="")
                                    .section2-card__title
                                        a(href="./services2.html").section2_ahref   IT та електронна комерція
                                .section2-card__txt 
                                    p.section2-txt Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста.
                        .col-12.col-sm-6.col-md-4
                            .section2-card 
                                .section2-card_box 
                                    .section2-card__icon 
                                        img.section2-card__img(src="./assets/images/bag.png", alt="")
                                    .section2-card__title
                                        a(href="./services2.html").section2_ahref   Комплексний щоденний юридичний супровід
                                .section2-card__txt 
                                    p.section2-txt До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері інформаційних технологій.
                        .col-12.col-sm-6.col-md-4
                            .section2-card 
                                .section2-card_box 
                                    .section2-card__icon 
                                        img.section2-card__img(src="./assets/images/structure.png", alt="")
                                    .section2-card__title
                                        a(href="./services2.html").section2_ahref   Структуризація корпоративних відносин
                                .section2-card__txt 
                                    p.section2-txt Замість просто надавати юридичні послуги, ми закріпимо юриста або цілу команду, які впишуться в повсякденне життя вашої компанії. 
                        .col-12.col-sm-6.col-md-4
                            .section2-card 
                                .section2-card_box 
                                    .section2-card__icon 
                                        img.section2-card__img(src="./assets/images/3hands.png", alt="")           
                                    .section2-card__title
                                        a(href="./services2.html").section2_ahref   Побудовa договірних відносин
                                .section2-card__txt 
                                    p.section2-txt Раз на тиждень, чи тиждень на місяць у вас під боком є ваш власний юрист. Будь-хто в компанії може впіймати його біля кавоварки і просто поговорити про поточні справи замість очікування статусу update.
                        .col-12.col-sm-6.col-md-4
                            .section2-card 
                                .section2-card_box 
                                    .section2-card__icon 
                                        img.section2-card__img(src="./assets/images/shield.png", alt="")
                                    .section2-card__title
                                        a(href="./services2.html").section2_ahref  Захист бізнесу, інтелектуальної власності
                                .section2-card__txt 
                                    p.section2-txt А весь інший час він працюватиме над новими різноплановими проектами, тому вже точно не зупиниться в професійному розвитку. Так чи інакше, на вас працюватиме весь Axon Partners замість корпоративного юриста.
                        .col-12.col-sm-6.col-md-4
                            .section2-card 
                                .section2-card_box 
                                    .section2-card__icon 
                                        img.section2-card__img(src="./assets/images/might.png", alt="") 
                                    .section2-card__title 
                                        a(href="./services2.html").section2_ahref Судове представництво
                                .section2-card__txt 
                                    p.section2-txt Невелика компанія, середнього розміру, чи вже лідер ринку? Локальний бізнес або транснаціональна компанія? Маєте власний юридичний відділ, чи ні?

