section.section3-main 
    .container
        #carousel2.carousel.carousel-dark.slide.d-block(data-bs-ride='carousel')
            .carousel-inner.d-block-1
                .carousel-item.active
                    .slide-info
                        .slide-img 
                            img.d-block.img-s3.carousel-img(src='./assets/images/1man.png' alt='...')
                            .slide-about2
                                p.slide-name Олександр Олександровський
                                p.slide-director Керуючий партнер
                        .carousel-caption.slide-main
                            a.section3-href(href="./team.html") команда
                                object.section2-arrow(data="./assets/icons/arrow-blue.svg", type="") 
                            h5.slide-title Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
                            .slide-about 
                                p.slide-name Олександр Олександровський
                                p.slide-director Керуючий партнер
                .carousel-item
                    .slide-info
                        .slide-img 
                            img.d-block.img-s3.carousel-img(src='./assets/images/1woman.png' alt='...')
                            .slide-about2 
                                p.slide-name Олена Висоцька
                                p.slide-director Заступник керуючого
                        .carousel-caption.slide-main
                            a.section3-href(href="./team.html") команда
                                object.section2-arrow(data="./assets/icons/arrow-blue.svg", type="") 
                            h5.slide-title Щоб жила свобода, нею потрібно горіти, а нормативні акти для вільної людини повинні писати холодні серця і досвідчений розум.
                            .slide-about 
                                p.slide-name Олена Висоцька
                                p.slide-director Заступник керуючого
                .carousel-item
                    .slide-info
                        .slide-img
                            img.d-block.img-s3.carousel-img(src='./assets/images/2man.png' alt='...')
                            .slide-about2 
                                p.slide-name Володимир Великий
                                p.slide-director Головний юрист
                        .carousel-caption.slide-main
                            a.section3-href(href="./team.html") команда
                                object.section2-arrow(data="./assets/icons/arrow-blue.svg", type="") 
                            h5.slide-title Громадська думка часто карає не винуватців зла, а тих, хто повстав проти зла.
                            .slide-about 
                                p.slide-name Володимир Великий
                                p.slide-director Головний юрист
            .carousel-indicators-1.d-flex-1
                button.active.circle-btn--b(type='button' data-bs-target='#carousel2' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                button.circle-btn--b(type='button' data-bs-target='#carousel2' data-bs-slide-to='1' aria-label='Slide 2')
                button.circle-btn--b(type='button' data-bs-target='#carousel2' data-bs-slide-to='2' aria-label='Slide 3')


    