.section1 {
  &-main {
    padding-bottom: 93px;
  }
  &-info {
    max-width: 641px;
  }
  &-title {
    max-width: 414px;
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    padding-left: 40px;
  }
  &-txt {
    font-size: 18px;
    line-height: 30px;
    color: $black;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &-txtn {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .section1 {
    &-main {
      padding-bottom: 40px;
    }
    &-wrap {
      flex-direction: column;
      align-items: center;
    }
    &-h2 {
      padding-left: 0px;
      font-size: $fs-32;
      line-height: $lh-38;
    }
    &-title {
      max-width: 550px;
    }
    &-txt {
      font-size: $fs-16;
      line-height: $lh-26;
    }
    &-info {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 567px) {
  .section1 {
    &-wrap {
      align-items: flex-start;
    }
  }
}
