section.section1-main   
    .container-section1 
        .section1-box 
            .section1-box_svg 
                object(data="./assets/icons/shopping.svg", type="") 
            .section1-box_info 
                h2.section1-box_title.gradient-red IT та електронна комерція
            .section1-box_txt 
                p.section1-p_info Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. 
                p.section1-p_info2 До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері інформаційних технологій.
            .section1-box_btn 
                a(href="#") 
                    button.gradient-btn Безкоштовна консультація
        .section1-subbox
            h2.section1-subbox_title Послуги цього напрямку:
            .section1-subbox-info
                .section1-subbox_service 
                    ul.section1-sub_flex 
                        li.section1-service супровід інвестиційних проектів з розвитку портової інфраструктури; 
                        li.section1-service паспортизація ГТС, внесення інформації про них в обов'язкові бази даних і реєстри; 
                        li.section1-service оформлення дозвільної документації для будівництва портових терміналів; 
                        li.section1-service оформлення дозвільної та іншої обов'язкової документації, необхідної для здійснення діяльності в порту (дозвіл на викиди, висновок по ОВНС, РТК і ін.); 
                .section1-subbox_service2
                    ul.section1-sub_flex 
                        li.section1-service супровід процедур, пов'язаних з орендою державного майна в порту; 
                        li.section1-service супровід процедур, пов'язаних з підтвердженням статусу портового оператора, морського агента, лінії закордонного плавання; 
                        li.section1-service супровід процедур, пов'язаних з включенням компанії в межі порту;
                        li.section1-service оскарження дій, пов'язаних з незаконним нав'язуванням послуг в порту компаніями-монополістами. 





