main.main-section 
    .container-main.main-flex 
        .main-title
            h2.main-h2.gradient-red Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
section.section-first 
    .container-row_col.section-flex      
        .section-box 
            .section-card 
                .section-photo 
                    img.section-object_box(src="./assets/images/photo1.png", alt="") 
                .section-info 
                    .section-name 
                        h3.section-h3 Денис Майборода
                        p.slide-director Керуючий партнер
                    .section-href 
                        a.section-hgh(href="#")  
                            span.section-span 
                                object.section-object_arrow(data="./assets/icons/arrow_rblue.svg", type="")
        .section-box 
            .section-card 
                .section-photo 
                    img.section-object_box(src="./assets/images/photo2.png", alt="") 
                .section-info 
                    .section-name 
                        h3.section-h3 Роман Кобзар
                        p.slide-director Equity partner, Attorney-at-law
                    .section-href 
                        a.section-hgh(href="#")
                            span.section-span
                                object.section-object_arrow(data="./assets/icons/arrow_rblue.svg", type="")
        .section-box 
            .section-card 
                .section-photo 
                    img.section-object_box(src="./assets/images/photo3.png", alt="") 
                .section-info 
                    .section-name 
                        h3.section-h3 Владислав Мельник
                        p.slide-director Associate
                    .section-href 
                        a.section-hgh(href="#")
                            span.section-span  
                                object.section-object_arrow(data="./assets/icons/arrow_rblue.svg", type="")
        .section-box 
            .section-card 
                .section-photo 
                    img.section-object_box(src="./assets/images/photo4.png", alt="") 
                .section-info 
                    .section-name 
                        h3.section-h3 Владислав Хмель
                        p.slide-director Associate
                    .section-href 
                        a.section-hgh(href="#")
                            span.section-span  
                                object.section-object_arrow(data="./assets/icons/arrow_rblue.svg", type="")
        .section-box 
            .section-card 
                .section-photo 
                    img.section-object_box(src="./assets/images/photo5.png", alt="") 
                .section-info 
                    .section-name 
                        h3.section-h3 Юлія Гудименко
                        p.slide-director Equity partner, Attorney-at-law
                    .section-href 
                        a.section-hgh(href="#")
                            span.section-span  
                                object.section-object_arrow(data="./assets/icons/arrow_rblue.svg", type="")
        .section-box 
            .section-card 
                .section-photo 
                    img.section-object_box(src="./assets/images/photo6.png", alt="") 
                .section-info 
                    .section-name 
                        h3.section-h3 Оксана Кобзар
                        p.slide-director Equity partner, Attorney-at-law
                    .section-href 
                        a.section-hgh(href="#")
                            span.section-span  
                                object.section-object_arrow(data="./assets/icons/arrow_rblue.svg", type="")