.main_link {
  color: #24a3ff;
  font-weight: 500;
  font-size: 17px;
}
.main {
  &_adress,
  &_number,
  &_btn-language {
    color: #b3b3ba;
  }
  &_btn-language {
    &:hover {
      color: white;
    }
  }
}
.navbar-toggler-icon {
  background-image: url(../../assets/icons/burger_blue.svg);
}
.fab {
  color: #b3b3ba;
}
/* Main-SECTION */

.main {
  &-title {
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 984px;
  }
  &-h2 {
    font-size: $fs-42;
    line-height: $lh-50;
    font-weight: bold;
  }
  &-flex {
    display: flex;
    justify-content: center;
  }
}
.section {
  &-first {
    margin-bottom: 20px;
  }
  &-card {
    margin-bottom: 40px;
  }
  &-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-h3 {
    font-size: $fs-18;
    line-height: $lh-21;
    color: $dark-blue;
    margin-bottom: 5px;
  }

  &-hgh {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    background-color: $bg-lgray;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-span {
    display: inline-block;
    height: 19px;
  }
  &-object_arrow {
    position: relative;
    z-index: -1;
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.offcanvas {
  background-color: $dark-blue;
}
.redline {
  text-decoration: underline;
  color: red;
}
/* MEDIA */
@media screen and (max-width: 1400px) {
  .section-flex {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 992px) {
  .section-box {
    max-width: 413px;
  }
  .section-flex {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 567px) {
  .section-object_box {
    width: 158px;
    height: 191px;
    height: 100%;
  }
  .section-box {
    width: 100%;
  }
  .section {
    &-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 20px;
      margin-top: 0px;
      align-items: flex-start;
      justify-content: flex-end;
    }
    &-card {
      display: flex;
      margin-bottom: 20px;
    }
  }
  .slide-director {
    margin-bottom: 10px;
  }
  .main-h2 {
    font-size: $fs-32;
    line-height: $lh-38;
  }
  .main-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
