section.section4-main 
    .container-main  
        .section4_flex  
            .section4-block1.box-media     
                .section4-box_1 
                    p.section4-box_t1 Успішні кейси
                .section4-box_2
                    p.section4-box_t2.dark-grey.box-fs Супровід проекту з <br> купівлі-продажу <br>  сільськогосподарської продукції
                    p.section4-box_bottom Hillel IT School
            .section4-block2.box-media 
                p.section4-box_c.dark-grey.box-fs Підготовка комплексного юридичного висновку для європейського банку
                p.section4-box_bottom WannaBiz
            .section4-block3.box-media   
                p.section4-box_c.dark-grey.box-fs Супровід проекту з <br>  купівлі-продажу <br> сільськогосподарської продукції
                p.section4-box_bottom tapgerine
            .section4-block4.box-media 
                p.section4-box_l.dark-grey.box-fs Представництво інтересів великого зернотрейдера в податковому спорі
                p.section4-box_bottom.upper 3d look
            .section4-block5.box-media 
                p.section4-box_c2.dark-grey.box-fs Оскарження податкових повідомлень-рішень ДФС
                p.section4-box_bottom adtelligent
            .section4-block6.box-media 
                p.section4-box_c2.dark-grey.box-fs Супровід проекту з кредитування агротрейдерів мальтійським банком
                p.section4-box_bottom Clikky