section.section5-main   
    .section5-title 
        p.section5-txt Вже довіряють нам
    .section5-company.section4_flex
        .section5-bgc_hillel.size
            object.hillel(data="./assets/images/hillel_logo.png", type="") 
        .section5-bgc_wanna.size 
            object.wanna(data="./assets/images/wanna_logo.png", type="")     
        .section5-bgc_tapgerine.size
            object.tapgerine(data="./assets/images/tapgerine_logo.png", type="") 
        .section5-bgc_3dlook.size 
            object.look(data="./assets/images/3dlook_logo.png", type="") 
        .section5-bgc_orange.size 
            object.orange(data="./assets/images/orange_logo.png", type="") 
        .section5-bgc_adtel.size 
            object.adtel(data="./assets/images/adtel_logo.png", type="") 
        .section5-bgc_clicky.size 
            object.clicky(data="./assets/images/clicky_logo.png", type="") 
        .section5-bgc_eco.size 
            object.eco(data="./assets/images/eco_logo.png", type="") 
        .section5-bgc_infra.size
            object.infra(data="./assets/images/infra_logo.png", type="") 
        .section5-bgc_city.size 
            object.city(data="./assets/images/city_logo.png", type="") 
        .section5-bgc_art.size 
            object.art(data="./assets/images/art_logo.png", type="") 
        .section5-bgc_ultimate.size 
            object.ultimate.object-media(data="./assets/images/ultimate_logo.png", type="") 