footer.footer-main
    .container.flex-footer 
        .footer-info 
            .footer-left.footer-flex 
                p.footer-adress Одеса, Адміральський пр., 3
                .footer-flex3
                    <i class="fas fa-circle point3"></i> 
                    a(href="./contact.html") 
                        p.footer-map  Подивитися на мапі
            .footer-right.footer-flex2  
                a(href="https://uk-ua.facebook.com/" target="blank") 
                    <i class="fab fa-facebook face-blue"></i>
                .footer-flex3 
                    <i class="fas fa-circle point1"></i>
                    p.footer-number +38 (050) 390 15 91
                .footer-flex3 
                    <i class="fas fa-circle point2"></i>
                    a(href="#") 
                        p.footer-mail contact@hlegals.net
        .footer-bottom  
            p.footer-right  © 2021 ТОВ Юридична компанія «HLEGALS»