section.section2-main   
    .container-section2
        .section2-info 
            .section2-sub 
                h2.section2-subtitle Досягнення
            #carousel2.carousel.carousel-dark.slide.d-block(data-bs-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        .carousel-flex
                            .carousel-caption.number-1
                                object(data="./assets/icons/legal_500.svg", type="") 
                            .carousel-caption.number-2
                                object(data="./assets/icons/awards.svg", type="") 
                            .carousel-caption.number-3
                                object(data="./assets/icons/leaders.svg", type="") 
                            .carousel-caption.number-4
                                object(data="./assets/icons/uif2017.svg", type="") 
                    .carousel-item
                        .carousel-flex
                            .carousel-caption.number-1
                                object(data="./assets/icons/legal_500.svg", type="") 
                            .carousel-caption.number-2
                                object(data="./assets/icons/awards.svg", type="") 
                            .carousel-caption.number-3
                                object(data="./assets/icons/leaders.svg", type="") 
                            .carousel-caption.number-4
                                object(data="./assets/icons/uif2017.svg", type="") 
                    .carousel-item
                        .carousel-flex
                            .carousel-caption.number-1
                                object(data="./assets/icons/legal_500.svg", type="") 
                            .carousel-caption.number-2
                                object(data="./assets/icons/awards.svg", type="") 
                            .carousel-caption.number-3
                                object(data="./assets/icons/leaders.svg", type="") 
                            .carousel-caption.number-4
                                object(data="./assets/icons/uif2017.svg", type="") 
                .carousel-indicators-1.d-flex-1
                    button.active.circle-btn--b(type='button' data-bs-target='#carousel2' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                    button.circle-btn--b(type='button' data-bs-target='#carousel2' data-bs-slide-to='1' aria-label='Slide 2')
                    button.circle-btn--b(type='button' data-bs-target='#carousel2' data-bs-slide-to='2' aria-label='Slide 3')
                    