.face-blue {
  color: $blue-sky;
}
.gradient-btn {
  margin-bottom: 20px;
}
.btn-block {
  display: flex;
  justify-content: center;
}
.contacts {
  text-decoration: underline;
  color: $red;
}
.redline {
  text-decoration: underline;
  color: red;
}
.main {
  &-section {
    margin-bottom: 100px;
    margin-top: 80px;
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &-send {
    display: flex;
    flex-direction: column;
    width: 487px;
    margin: 0 auto;
  }
  &-field,
  &-field_area {
    border: none;
    border-radius: 8px;
    padding-left: 10px;
  }
  &-field {
    height: 47px;
    font-size: $fs-18;
    line-height: $lh-26;

    &:focus-visible {
      outline: none;
    }
  }
  &-field_area {
    min-height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 26px;
  }
  &-field_phone,
  &-field_mail {
    margin-bottom: 20px;
  }
  &-helper {
    width: 527px;
    min-height: 576px;
    background-color: $bg-lgray;
    border-radius: 12px;
  }
  &-subtitle {
    width: 487px;
    margin: 20px auto;
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
  }
  &-answer {
    margin-bottom: 10px;
    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: $fs-14;
    line-height: $lh-17;
    font-weight: bold;
  }
  &-contact {
    min-width: 412px;
  }
  &-p_adress,
  &-phone,
  &-mail {
    font-size: $fs-21;
    line-height: $lh-30;
    color: $dark-blue;
    padding-bottom: 20px;
  }
  &-p_adress {
    border-bottom: 4px solid #e6e6f0;
    margin-bottom: 40px;
  }
  &-mail {
    color: $blue-sky;
    padding-bottom: 40px;
    border-bottom: 4px solid #e6e6f0;
    margin-bottom: 20px;
  }
  &-face_page {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blue-sky;
    font-weight: bold;
  }
  &-facebook {
    display: flex;
    align-items: center;
  }
}

/* MEDIA */
@media screen and (max-width: 992px) {
  .main {
    &-flex {
      justify-content: center;
    }
    &-section {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    &-contact {
      margin-bottom: 40px;
    }
  }
  .face-blue {
    margin-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .main {
    &-contact {
      min-width: 303px;
    }
    &-helper {
      max-width: 345px;
    }
    &-send {
      max-width: 305px;
    }
    &-subtitle {
      max-width: 305px;
      font-size: 22px;
      line-height: 26px;
    }
  }
}
