header.header_wrap 
    .container
        .main_box-logo.flex-container-1 
            .main_logo 
                a.main_logo-href(href="./index.html") 
                    object.main_logo-img(data="./assets/icons/contact_logo.svg", type="")          
            .main_info
                .main_language-info.flex-wrap
                    .buttons 
                        button.main_btn-language Ук
                        button.main_btn-language Ру
                        button.main_btn-language En   
                    p.main_adress Одеса, Адміральський пр., 3   
                    .main_phone.flex-container-3 
                        <i class="fas fa-circle"></i>
                        p.main_number +38 (050) 390 15 91
                        <i class="fas fa-circle"></i>   
                    a.main_facebook-link(href="https://uk-ua.facebook.com/")  
                        <i class="fab fa-facebook"></i>
        nav.main_nav 
            .main_navigation.flex-container-4
                ul.main_ul-navigation.flex-container-2
                    li.main_li-link 
                        a.main_link(href="./aboutus.html") про нас
                    li.main_li-link 
                        a.main_link(href="./services.html") послуги
                    li.main_li-link 
                        a.main_link(href="./team.html") команда
                    li.main_li-link 
                        a.main_link(href="#") публікації
                    li.main_li-link 
                        a.main_link.redline(href="./contact.html") контакти 
                nav.navbar.navbar-disabled.bg-transparent
                    .container-fluid
                        a.main_logo-href(href="./index.html")
                            object.main_logo-img(data="./assets/icons/contact_min.svg", type="") 
                        button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
                            span.navbar-toggler-icon
                    #offcanvasNavbar.offcanvas.offcanvas-bottom(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                        .offcanvas-header
                            button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                        .offcanvas-body
                            ul.navbar-nav.justify-content-center.align-items-center
                                li.nav-item
                                    a.nav-link.active( href="./aboutus.html") про нас
                                li.nav-item
                                    a.nav-link(href="./services.html") послуги
                                li.nav-item
                                    a.nav-link(href='./team.html') команда
                                li.nav-item
                                    a.nav-link(href='./index.html') публікації
                                li.nav-item
                                    a.nav-link(href='./contact.html') контакти