main.main-section 
    .container-main
        .main-flex
            .main-contact 
                .main-adress 
                    p.main-p_adress Одеса,<br>Адміральський пр., 3
                .main-number 
                    p.main-phone +38 (050) 390 15 95
                    p.main-mail contact@hlegals.net
                .main-facebook
                    i.fab.fa-facebook.face-blue
                    p.main-face_page Наша сторінка <br> в фейсбуці
            .main-helper 
                h2.main-subtitle.gradient-red Ми хотіли б Вам допомогти
                form(action="#" method="get") 
                    .main-send  
                        input.main-field.main-field_name(type="text" placeholder="Iм’я")
                        textarea.main-field_area(placeholder="Повідомлення")
                        p.main-answer Як вам відповісти?
                        input.main-field.main-field_phone(type="number" placeholder="Номер телефона")
                        input.main-field.main-field_mail(type="email" placeholder="Чи email")
                        .btn-block 
                            button.gradient-btn Надіслати запит
                 
                
            